.contact-page {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   flex-wrap: wrap;
   top: 215%;
   left: 10%;
   width: 100%;
   height: 80%;

   h1 {
      width: 100%;
      font-weight: 800;
      font-size: 60px;
   }

   p {
      color: #8D8D8D;
      width: 50%;
      margin-top: 24px;
      font-weight: 400;
      font-size: 30px;
      font-family: sans-serif;
      letter-spacing: 3px;
      animation: fadeIn 1s 1.8s backwards;
   }

   ul {
      width: 200px;
      display: block;
      padding: 0;
      list-style: none;
      margin: 0;
   
      li {
         a {
            padding: 7px 0;
            display: flex;
            font-size: 50px;
            line-height: 16px;
            font-family: sans-serif;
            z-index: 1;
            text-decoration: none;
   
            &:hover svg {
               color: lightblue;
            }

            h2 {
               width: 200px;
               height: 10px;
               position: relative;
               left: -30px;
               opacity: 0%;
               transition: all 0.5s;
               z-index: 0;
            }

            h2:hover {
               color: #000;
               opacity: 100%;
               transition: all 0.7s;
               left: 20px;
            }
         }
      }
   }   
}